/* navbar */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.headings {
  font-family: "Cormorant Garamond", serif;
  font-size: 0.5em;
  font-weight: 500;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
  padding: 0.5em 0;
  background-color: #ffffff4d;
  backdrop-filter: blur(5px);
  border: 1px solid #9191912f;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -5px #0000004b;
  
}

.headings span {
  font-size: clamp(3em, 2.5vw, 5em);
}

.customNav {
  background-color: #ffffff;
  border-bottom: 1px solid #e9ecef;
  box-shadow: 0px 3px 20px 3px rgba(26, 26, 26, 0.336);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.19rem;
  z-index: 100;
}

.customNav a {
  color: black !important;
}

.customNav .navbar-toggler {
  border: none;
}
.customNav .navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 7.5em;
    padding-left: 0px;
    padding-bottom: 15px;
    width: 100%;
    background: #ffffff;
    max-width: 70vw;
    height: 100vh;
    overflow-y: auto;
    border-radius: 10px;

    background-image: url("../src/assets/img/wood.jpeg");

    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .navbar-collapse.collapsing {
    height: 100%;
    transition: left 1s cubic-bezier(0.47, 1.64, 0.41, 0.8);
    left: -100%;
  }

  .navbar-collapse.show {
    height: 100%;
    left: 5px;
    transition: left 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  }

  .navbar-collapse .nav-link {
    text-align: center;
    background-color: #ffffff1e;
    backdrop-filter: blur(3px);
    width: max-content;
    margin: 9px 70px 0 70px;
    padding: 1px 20px;
    border-radius: 10em;
    border: 1px solid #e7e7e7c3;
  }

  .navbar-collapse .menuStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.bentoImg {
  height: 40vh;
  width: 100%;
  object-fit: cover;
}

.scrollable-row {
  white-space: nowrap;
  height: 60dvh;
  z-index: 0;
  animation: slide 60s linear infinite;
}

@media (max-width: 991px) {
  .scrollable-row {
    height: 45vh;
  }
}
.colBento {
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 5px 0;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* background */

.allRecipesBackground {
  background-image: url("../src/assets/img/marble.jpg");
  background-repeat: repeat-y;
  background-position: center;
  background-size: 100% auto;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.homeBg {
  background-image: url("../src/assets/img/marble.jpg");
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
}

/* cards */

.CustomCard {
  overflow: visible;
  width: 100%;
  height: 26em;
}

.BentoCustomCard {
  overflow: visible;
  width: 100%;
  height: 26em;
}

.CustomCard-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 5px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 1px 2px 10px 0px #0000008f;
  border-radius: 5px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back-content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.back-content-text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.BentoCustomCard .back-content-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.CustomCard:hover .content,
.BentoCustomCard:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CustomCard-img-front {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  background-color: #00000055;
  filter: blur(6px);
}

.badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 2px #00000080;
  width: 100%;
  padding: 10px;
  background-color: #706d608e;
  backdrop-filter: blur(3px);
  border-radius: 5px;
}

.title {
  font-size: 1.1em;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-subtitle {
  font-size: 0.8em;
  font-weight: 700;

  border-radius: 10px;

  width: fit-content;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 0.7em;
}

/* button */
.special-button button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.special-button button.view-recipe {
  width: 12rem;
  height: auto;
}

.special-button button.view-recipe .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #00000070;
  border-radius: 1.625rem;
}

.special-button button.view-recipe .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.special-button button.view-recipe .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.special-button button.view-recipe .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.special-button button.view-recipe .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.special-button button:hover .circle {
  width: 100%;
}

.special-button button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.special-button button:hover .button-text {
  color: #fff;
}

.heartIcon {
  color: #24bb59;
  font-size: 1em;

  z-index: 100;
}

.topHomeBanner {
  background-color: #eccf5a27;

  background-size: cover;
  background-position: center;
  background-blend-mode: darken;

  border-radius: 5px;

  color: rgb(0, 0, 0);
  position: relative;
}

.topHomeBanner #myVideo{
  
  width: 100%;
  height: 50vh;
  object-position: center;
  object-fit: cover;
 

}

.topHomeBanner .videoText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: clamp(0.3em, 1vw, 1.5em);
  font-family: "Raleway", sans-serif;
}

.topHomeBanner .videoText p{
  background-color: #0000005e;
  
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.952);
}



.react-multiple-carousel__arrow {
  position: absolute;
  font-size: 2em;
  color: rgb(209, 21, 21);
  border: none;
  background: rgba(245, 0, 0, 0.438);
  padding: 0.5em 0.2em;
  border-radius: 0%;
  z-index: 1 !important;
}

.react-multiple-carousel__arrow--left {
  left: 0 !important;
}

.react-multiple-carousel__arrow--right {
  right: 0 !important;
}

/* footer */
.footerCustom {
  background-color: #000000;
  padding: 30px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}
.footerCustom p {
  font-size: 0.9em;
  font-weight: 300;
  font-style: italic;
}

.footerCustom h2 {
  border-bottom: 1px solid #ffffff;
}

.footerCustom ul {
  padding: 0;
}

.footerCustom li {
  list-style: none;
}
.footerCustom li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
}

.footerCustom li a:hover {
  color: #eccf5a;
  border-bottom: 1px solid #eccf5a;
}

.footerCustom .adminRequest {
  background-color: #aca68e56;
}
.footerCustom .email-button {
  text-decoration: none;
  color: #ffffff;
  font-size: 800;
  background: #646153;
  padding: 0.6em;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.footerCustom .email-button:hover {
  background: #eccf5a;
  color: #000000;
}

.longerPage {
  height: 80vh;
}

/* buger */

.allContainer{
  position: fixed;
  bottom: 0;
  right: 0;
 
  
}

.burgerImg {
  width: 10em;
  object-fit: contain;
  filter: drop-shadow(0 0 8px #00000098);

}

.burgerContainer {
 position: relative;
}





.eye_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  top: 30px;
  left: 38px;
}
.eye_container .eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: #ffffff;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.274);
  transition: scale 0.5s, background-color 0.5s, box-shadow 0.5s;
}
.eye_container .eye::active::after {
  background-color: #000;
  border: 20px solid #000;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eye_container .eye::after {
  content: " ";
  position: absolute;
  bottom: 5%;
  right: 50%;
  width: 5px;
  height: 5px;
  background: #000000;
  border-radius: 50%;
  border: 6px solid #000000;

  transition: 0.5s;
}

