/* navbar */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Quattrocento:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap");

.headings {
  font-family: "Cormorant Garamond", serif;
  font-size: 0.5em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  padding: 0.5em 0;
  background-color: #ffffff4d;
  backdrop-filter: blur(5px);
  border: 1px solid #9191912f;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -5px #0000002c;
}

.headings span {
  font-size: clamp(3em, 2.5vw, 5em);
}

.headings2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
}

.customNav {
  background-color: #ffffff;
  border-bottom: 1px solid #e9ecef;
  box-shadow: 0px 3px 20px 3px rgba(26, 26, 26, 0.336);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.19rem;
  z-index: 100;
}

.navLogo {
  animation: shake-bottom 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

.customNav a {
  color: black !important;
}

.customNav .navbar-toggler {
  border: none;
}
.customNav .navbar-toggler:focus {
  box-shadow: none;
}

.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #ffd736;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 20px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.logoutBtn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.logoutBtn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.logoutBtn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.logoutBtn:active {
  transform: translate(2px, 2px);
}

@media (min-width: 991px) {
  .customNav .customNavLink {
    position: relative;
  }

  .customNav .customNavLink:hover {
    color: #eccf5a !important;
  }

  .customNav .customNavLink::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #eccf5a;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .customNav .customNavLink:hover::before {
    transform: scaleX(1);
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 7em;
    padding-left: 0px;
    padding-bottom: 15px;
    width: 100%;
    background: #ffd940a6;
    backdrop-filter: blur(10px);
    max-width: 70vw;
    height: 100vh;
    overflow-y: auto;
    border-radius: 10px;
    font-size: 0.8em;

    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .navbar-collapse.collapsing {
    height: 100%;
    transition: left 1s cubic-bezier(0.47, 1.64, 0.41, 0.8);
    left: -100%;
  }

  .navbar-collapse.show {
    height: 100%;
    left: 5px;
    transition: left 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  }

  .navbar-collapse .nav-link {
    width: max-content;
    margin: 9px 70px 0 70px;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    font-size: clamp(1.5em, 5vw, 2em);
  }

  .customNav img {
    width: 6em !important;
    object-fit: cover;
  }
}
.bentoImg {
  height: 40vh;
  width: 100%;
  object-fit: cover;
}

.scrollable-row {
  white-space: nowrap;
  height: 60dvh;
  z-index: 0;
  animation: slide 60s linear infinite;
}

@media (max-width: 991px) {
  .scrollable-row {
    height: 45vh;
  }
}
.colBento {
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 5px 0;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* background */

.allRecipesBackground {
  background-image: url("../src/assets/img/marble.jpg");
  background-repeat: repeat-y;
  background-position: center;
  background-size: 100% auto;
  background-size: cover;
  padding-inline: 5em;
  padding-block: 5em;
}

@media (max-width: 991px) {
  .allRecipesBackground {
    padding-inline: 1em;
  }

  .recipeBg {
    padding-inline: 1em !important;
  }

  .recipeImgsContainer {
    padding: 0 !important;
    margin-bottom: 1em;
  }
}

.filterSidebar {
  font-family: "Cormorant Garamond", serif;
  margin-top: 3.5em;
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: #aaaaaa5e;
  backdrop-filter: blur(3px);
  border-radius: 5px;
  width: 100%;
  height: fit-content;
}

.filterBtn {
  background: none;
  border: none;
  font-size: clamp(1.2em, 2.5vw, 2em);
  font-weight: 700;
  line-height: 1px;
  padding-block: 0.3em;
}
.filterBtn:hover {
  cursor: pointer;
  color: rgb(56, 56, 56);
  border-bottom: 1px solid black;
}
.filterBtn #chevron {
  font-size: 0.5em;
}

.filterSidebar input[type="checkbox"] {
  display: none;
}

.filterSidebar label {
  font-size: 1.1em;
  font-weight: 600;
  padding: 1px 0.5em;
  margin: 0.2em 0.2em;
  background-color: #ffffffad;
  border-radius: 50em;

  cursor: pointer;
}

.filterSidebar label:hover {
  background-color: #eccf5a !important;
}

.filterSidebar input[type="checkbox"]:checked + label {
  background-color: #eccf5a;
  text-decoration: underline;
}
.filterSidebar input[type="checkbox"]:not(:checked) + label {
  background-color: #ffffffad;
}
.clearBtn {
  background: none;
  font-size: 1.1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  height: min-content;
}
.clearBtn:hover {
  text-decoration: underline;
  color: #a73030;
}
@media (max-width: 1600px) {
  .filterSidebar label {
    font-size: 0.9em;
  }
  .filterSidebar .filterType h3 {
    font-size: 1.2em;
  }

  .filterSidebar .filterType .clearBtn {
    font-size: 0.8em;
  }
}

@media (max-width: 1200px) {
  .bigFilter {
    display: none;
  }

  .filterSidebar {
    margin-top: 1em;
  }
}

@media (min-width: 1200px) {
  .smallFilter {
    display: none;
  }
}

.homeBg {
  background-image: url("../src/assets/img/marble.jpg");
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
}

/* cards */

.CustomCard {
  overflow: visible;
  width: 100%;
  height: 26em;
}

.card-description{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .CustomCard {
    height: 20em;
  }
}
@media (max-width: 600px) {
  .CustomCard {
    height: 18em;
    font-size: 0.9em;
  }
  .CustomCard p {
    font-size: 0.6em;
  }

  .CustomCard .badge {
    font-size: 0.6em;
  }
}

.BentoCustomCard {
  overflow: visible;
  width: 100%;
  height: 26em;
}

@media (max-width: 600px) {
  .BentoCustomCard {
    height: 8em;
  }

  .BentoCustomCard p {
    margin: 0;
  }

  .BentoCustomCard .card-footer {
    display: none;
  }

  .BentoCustomCard .bento-card-text {
    display: none;
  }

  .BentoCustomCard:hover .content {
    transform: rotateY(0) !important;
  }

  .colBento {
    overflow: hidden;
  }
}

.CustomCard-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 5px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 1px 2px 10px 0px #0000008f;
  border-radius: 5px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back-content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.back-content-text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.BentoCustomCard .back-content-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.CustomCard:hover .content,
.BentoCustomCard:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CustomCard-img-front {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  background-color: #00000055;
  filter: blur(6px);
}

.badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 2px #00000080;
  width: 100%;
  padding: 10px;
  background-color: #706d608e;
  backdrop-filter: blur(3px);
  border-radius: 5px;
}

.title {
  font-size: 1.1em;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-subtitle {
  font-size: 0.8em;
  font-weight: 700;

  border-radius: 10px;

  width: fit-content;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 0.7em;
}

/* button */
.special-button button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.special-button button.view-recipe {
  width: 12rem;
  height: auto;
}

.special-button button.view-recipe .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #00000070;
  border-radius: 1.625rem;
}

.special-button button.view-recipe .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.special-button button.view-recipe .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.special-button button.view-recipe .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.special-button button.view-recipe .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.special-button button:hover .circle {
  width: 100%;
}

.special-button button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.special-button button:hover .button-text {
  color: #fff;
}

.mobile-special-button {
  background-color: #00000077;
  padding: 0.7em;
  border-radius: 50px;
  text-decoration: none;
  color: #ffffff;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 700;
  text-align: center;
}

.mobile-special-button:active {
  background-color: #ffd736;
}

@media (max-width: 991px) {
  .special-button {
    display: none;
  }

  .mobile-special-button {
    display: block;
  }
}

@media (min-width: 992px) {
  .special-button {
    display: block;
  }

  .mobile-special-button {
    display: none;
  }
}

/* heart icon */

.heartIcon {
  color: #24bb59;
  font-size: 1em;

  z-index: 100;
}

.topHomeBanner {
  background-color: #eccf5a27;

  background-size: cover;
  background-position: center;

  border-radius: 5px;

  color: rgb(0, 0, 0);
  position: relative;
}

.topHomeBanner #myVideo {
  width: 100%;
  height: 50vh;
  object-position: center;
  object-fit: cover;
  filter: brightness(0.6);
}

@media (max-width: 991px) {
  .topHomeBanner #myVideo {
    height: 30vh;
  }

  .topHomeBanner .videoText {
    font-size: 1.1em;
  }
}

.topHomeBanner .videoText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.react-multiple-carousel__arrow {
  position: absolute;
  font-size: 2em;
  color: rgb(209, 21, 21);
  border: none;
  background: rgba(245, 0, 0, 0.438);
  padding: 0.5em 0.2em;
  border-radius: 0%;
  z-index: 1 !important;
}

.react-multiple-carousel__arrow--left {
  left: 0 !important;
}

.react-multiple-carousel__arrow--right {
  right: 0 !important;
}

@media (max-width: 991px) {
  .react-multiple-carousel__arrow {
    padding: 0.1em 0.1em;
  }

  .react-multiple-carousel__arrow--left::before {
    font-size: 0.4em !important;
  }

  .react-multiple-carousel__arrow--right::before {
    font-size: 0.4em !important;
  }
}

/* footer */
.footerCustom {
  background-color: #000000;
  padding: 30px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}
.footerCustom p {
  font-size: 0.9em;
  font-weight: 300;
  font-style: italic;
}

.footerCustom h2 {
  border-bottom: 1px solid #ffffff;
}

.footerCustom ul {
  padding: 0;
}

.footerCustom li {
  list-style: none;
}
.footerCustom li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
}

.footerCustom li a:hover {
  color: #eccf5a;
  border-bottom: 1px solid #eccf5a;
}

.footerCustom .adminRequest {
  background-color: #aca68e56;
}
.footerCustom .email-button {
  text-decoration: none;
  color: #ffffff;
  font-size: 800;
  background: #646153;
  padding: 0.6em;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.footerCustom .email-button:hover {
  background: #eccf5a;
  color: #000000;
}

.longerPage {
  min-height: 80vh;
}

/* buger */
@media (max-width: 991px) {
  .allContainer {
    display: none;
  }
}

@media (min-width: 991px) {
  .allContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
  }

  .allContainer:hover {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍴</text></svg>")
        16 0,
      auto; /*!emojicursor.app*/
  }

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  .burgerImg {
    width: 10em;
    object-fit: contain;
    filter: drop-shadow(0 0 2px #00000098);
  }

  .burgerContainer {
    position: relative;
  }

  .eye_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    top: 30px;
    left: 38px;
  }
  .eye_container .eye {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #ffffff;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.274);
    transition: scale 0.5s, background-color 0.5s, box-shadow 0.5s;
  }
  .eye_container .eye::active::after {
    background-color: #000;
    border: 20px solid #000;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .eye_container .eye::after {
    content: " ";
    position: absolute;
    bottom: 5%;
    right: 50%;
    width: 5px;
    height: 5px;
    background: #000000;
    border-radius: 50%;
    border: 6px solid #000000;

    transition: 0.5s;
  }
}

/* search input */

.search {
  position: relative;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.4rem 1rem;
  border-radius: 30px;
  width: 100%;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: 0.1em;
  position: absolute;
  right: 8px;
  top: 3px;
}

.search__button:hover {
  cursor: pointer;
}

.ingBtn {
  background: none;
  font-weight: 700;
  cursor: pointer;
}

.ingBtn:hover {
  text-decoration: underline;
}

/* recipe page */

.recipeBg {
  background-image: url("../src/assets/img/marble.jpg");
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;

  padding-inline: 5em;
  padding-block: 5em;
}

.recipeContainer {
  background-color: #ffffff00;
  backdrop-filter: blur(25px) brightness(1.1);
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -5px #0000004b;
}

.recipeContainer h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: clamp(1.5em, 2.9vw, 3.8em);
  font-weight: 900;
  margin: 0;
}

.recipeContainer .topSec p {
  font-family: "Quattrocento", serif;
  font-size: clamp(0.8em, 2.5vw, 1.3em);
  font-weight: 300;
  color: #5a5a5a;

  margin: 0;
}

.recipeContainer .averageRating {
  display: inline !important;
}
.recipeContainer .averageRatings {
  display: inline;
}

.like-button {
  background: #eeeeee;
  border: none;
  font-size: 1.8em;
  color: #bb2424;
  padding: 0.3em;
  border-radius: 50%;
  border: 1px solid #dfdfdf;
}

.like-button:hover {
  cursor: pointer;
  background: #ffdede;
}

@media (max-width: 991px) {
  .like-button {
    font-size: 1.3em;
  }
}
.recipeImgsContainer {
  display: flex;
  padding: 1em;

  border-radius: 5px;
  gap: 1em;
  padding: 1em;
}
.recipeImgsContainer > * {
  flex-grow: 1;
}

.recipeImgsContainer .recipeImg {
  width: 100%;
  height: 30vw;

  object-fit: cover;
  border-radius: 5px;
}

.recipeImgsContainer .recipeImgSec:first-child {
  margin-bottom: 1vw;
}

.recipeImgsContainer .recipeImgSec {
  width: 100%;
  height: 14.5vw;

  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 991px) {
  .recipeImgsContainer {
    display: block;
  }

  .recipeImgsContainer .recipeImg {
    height: 35vh;
  }

  .recipeImgsContainer .recipeImgSec {
    display: none;
  }
}

.DetailsSec {
  display: flex;
  align-items: center;
  font-family: "Quattrocento", serif;
  font-size: clamp(0.7em, 2.5vw, 1.3em);
  font-weight: 300;
  color: #5a5a5a;
  gap: 1em;
  background-color: #fff8d9;
  width: fit-content;
  padding: clamp(1em, 2.5vw, 2em);
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px #00000025;
}

.DetailsSec .ingredientsSec {
  padding-right: 1em;
  border-right: 1px solid #9191912f;
}

.DetailsSec .ingredientsSec h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: clamp(1.5em, 2.5vw, 2em);
  font-weight: 900;
  text-decoration: underline;
}

.DetailsSec p {
  margin: 0;
}

.ingredientsSec li {
  list-style-type: "-";
}

.DetailsSec .recipeDetails b {
  margin-left: 5px;
  font-weight: 700;
}

.recipeContainer h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: clamp(1.5em, 2.5vw, 2.5em);
  font-weight: 900;
  margin: 0;
}

.recipeContainer .instructions {
  margin-block: 2em;

  width: auto;
  min-height: 20em;
  background-color: #fdf9f2;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -5px #0000004b;
  border: 1px solid #9191912f;
}

.recipeContainer .instructions h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: clamp(1.5em, 2.5vw, 2.5em);
  font-weight: 900;
}
.recipeContainer .instructions p {
  font-family: "Quattrocento", serif;
  font-size: clamp(0.8em, 2.5vw, 1.3em);
  font-weight: 300;
  color: #5a5a5a;
}

.recipeContainer .recipeVideo {
  width: 100%;
  height: clamp(10em, 40vw, 30em);
}

.recipeContainer .commentSec {
  background-color: #f8f6f0;
  width: 100%;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px #0000004b;
  border: 1px solid #9191912f;
}

.recipeContainer .commentSec .singleComment {
  margin: 0.5em 0;
  border-radius: 5px;
  padding: 0.5em 1em;
  border-bottom: 1px solid #9191912f;
}

.recipeContainer .commentSec .user {
  font-weight: 700;
  background-color: #ffffff9d;
  display: inline;
  padding: 0.1em 0.5em;
  border-radius: 7px;
}

.time {
  font-size: 0.9em;
  color: #686868;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}
.recipeContainer .commentsHead {
  border-bottom: 1px solid #9191912f;
}
.recipeContainer .commentSec .trashComment {
  cursor: pointer;
}

.recipeContainer .commentSec .trashComment:hover {
  color: #aa1111;
  transform: scale(1.3);
}

.recipeContainer .commentSec .commentText {
  font-size: 1.1em;
  padding-left: 0.4em;
}

.commentPostBtn {
  background-color: #eccf5a;
  color: #000000;
  font-weight: 700;
  padding: 0.5em 1em;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  margin-left: 2px;
}

.commentPostBtn:hover {
  background-color: #f3db7b;
}

/* profile */

.profileBg {
  background-image: url("../src/assets/img/marble.jpg");
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;

  padding-inline: clamp(1em, 10vw, 10em);
  padding-block: 5em;
}

.profileContainer {
  background-color: #ffffff00;
  backdrop-filter: blur(25px) brightness(1.1);

  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 10px 10px -5px #0000004b;
}

.userInfoSec {
  background-color: #ffd21cb4;
  background-image: url("../src/assets/img/cartoonfood.jpg");
  mix-blend-mode: multiply;
  padding: 5em 2em 0.8em 2em;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfoSec h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: clamp(1.5em, 2.5vw, 3.5em);
  font-weight: 900;
  margin: 0;
}

.userInfoSec p {
  font-family: "Raleway", serif;
  font-size: clamp(0.8em, 2.5vw, 1em);
  font-weight: 300;

  margin: 0;
}

.userInfoSec span {
  font-size: clamp(0.8em, 2.5vw, 1em);
  cursor: pointer;
  color: #ffffff;
  background-color: #00000063;
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

.userInfoSec span:hover {
  text-decoration: underline;
}

.userInfoSec2 {
  background-color: #ffffffa6;
  backdrop-filter: blur(5px);
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -5px #0000004b;
  border: 1px solid #9191912f;
}

.profileContainer .commentsSec {
  margin-top: 0.5em;
  width: 100%;
  padding: 2em;
}
.profileContainer .commentsSec .singleComment {
  background-color: #fffcf3;
  width: 100%;
  padding: 2em;
  border-radius: 5px;

  border: 1px solid #9191912f;
}
.linkTo {
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  color: #000000;
  text-decoration: underline;
}

.profileContainer .commentsSec .singleComment .linkTo:hover {
  color: #eccf5a;
}

.profileRating {
  padding: 1em;
  border-radius: 5px;
  background-color: #ffffff73;
  box-shadow: 0px 10px 10px -5px #00000023;
  border: 1px solid #9191912f;
}

.seeMore {
  background: none;
  font-weight: 700;
  cursor: pointer;
  font-size: clamp(0.8em, 2.5vw, 1.2em);
  font-family: "Cormorant Garamond", serif;
  margin-top: 2px;
}

.seeMore:hover {
  text-decoration: underline;
}

.sentence {
  font-size: clamp(1em, 2.5vw, 4em);
  font-weight: 300;
  font-family: "DM Serif Display", serif;
  padding: 0.5em;
  filter: drop-shadow(0 0 20px #fafafa);
}

.transition-text-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* You can adjust the transition duration and timing function as needed */
}

.transition-text-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* You can adjust the transition duration and timing function as needed */
}

/* login form */

.loginBg {
  background-image: url("../src/assets/img/blur.jpg");
  backdrop-filter: blur(5px);

  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
}

.login-form-container {
  height: 400px;
  background-color: #ffffff;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
}

.register-form-container {
  background-color: #ffffff;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
}

.formTitle {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  margin: 10px 0 30px 0;
  font-size: clamp(2em, 2.5vw, 3em);
  font-weight: 800;
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.login-input {
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
}

.page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: #747474;
  text-decoration-color: #747474;
}

.form-btn {
  padding: 10px 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 20px;
  border: 0 !important;
  outline: 0 !important;
  background: #f8c600;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-btn:hover {
  background: #ffd21c;
  transform: scale(1.03);
}

.form-btn:active {
  box-shadow: none;
}

.sign-up-label {
  margin: 0;
  font-size: 0.8em;
  color: #747474;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sign-up-link {
  margin-left: 1px;
  font-size: 11px;
  text-decoration: underline;
  text-decoration-color: teal;
  color: teal;
  cursor: pointer;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.paginationBtn {
  color: rgb(255, 255, 255);
  background-color: #ffcc00ad;
  border: none;
  padding: 0.2em 0.5em;
  border-radius: 50px;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
}

.paginationBtn:hover {
  background-color: #ffd21c;

  transform: scale(1.1);
}

.addRecipeBtn {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 0.2em 0.5em;
  border-radius: 50px;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.addRecipeBtn:hover {
  transform: scale(1.1);
}

.adminBtns {
  background-color: #ffffff;
  border: 1px solid #8a8a8a57;
  padding: 0.5em 0.8em;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.adminBtns.edit:hover {
  background-color: #ffd83a63;
  border: 1px solid #ffd83a;
  transform: scale(1.1);
  cursor: pointer;
}

.adminBtns.delete:hover {
  background-color: #d4202054;
  border: 1px solid #d42020;
  transform: scale(1.1);
  cursor: pointer;
}
